a{
    color: inherit;
    text-decoration: none;
}

body {
  background-color: linear-gradient(135deg, #667eea 0% #764ba2 100%);
  background-image: url("../IMAGES/background/sakura-unsplash_compressed.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

footer {
  margin-top: auto;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(3px);
  text-align: center;
  font-size: 14px;
  color: #fff;
}