a{
    color: inherit;
    text-decoration: none;
}

body {
  background-color: linear-gradient(135deg, #667eea 0% #764ba2 100%);
  background-image: url("/Resource/IMAGES/background/sakura-unsplash_compressed.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

footer {
  margin-top: auto;
  padding: 0.6rem 1.2rem;
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(3px);
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

button,
a,
input,
select,
textarea,
[tabindex] {
  outline: none;

}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}