.glass {
  position: fixed;
  inset: 1rem;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.inner-container {
  margin: 1.2rem;
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  backdrop-filter: blur(3px);
}


.inner-container-medium {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  backdrop-filter: blur(3px);
  width: 30%;
}


@media(max-width:768px){
.inner-container{
  padding: 2.5rem;

}
}