.glass {
  position: fixed;
  inset: 15px;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  background-color: linear-gradient(135deg, #667eea 0% #764ba2 100%);
  background-image: url("../IMAGES/background/sakura-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.inner-container {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  backdrop-filter: blur(3px);
}

footer {
  margin-top: auto;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(3px);
  text-align: center;
  font-size: 14px;
  color: #fff;
}