.my-info {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -130px;
}

.avatar-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media(max-width:768px){
.my-info{
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}
.avatar-large{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    position: relative;
    top: -165px;
}
}