.my-info {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -130px;
}

.avatar-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}