.text {
    font-family: 'Microsoft YaHei', "Times New Roman";
    font-size: 16px;
    color: white;
    line-height: 1.6;
    margin: 10px 0;
}

.text-title-A {
    font-family: 'Microsoft YaHei', "Times New Roman";
    font-size: 34px;
    color: #ffc0cb;
    font-weight: bold;
    margin: 30px 0 20px 20px;
    letter-spacing: 1px;

}


.text-title-B {
    font-family: 'Microsoft YaHei', "Times New Roman";
    font-size: 15px;
    color: white;
    font-weight: thin;
    margin: -5px 0 20px 20px;
    letter-spacing: 1px;
}


.text-body {
    font-family: 'Microsoft YaHei', "Times New Roman";
    font-size: 14px;
    color: black;
    line-height: 1.6;
    margin: 10px 0 10px 10px;
}

.text-footer {
    font-family: 'Microsoft YaHei', "Times New Roman";
    font-size: 12px;
    color: white;
    line-height: 1.6;
    margin: 10px 0 10px 10px;
    display: flex;
    align-items: center;
}

.text-icon {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

@media(max-width:768px) {
    .text-title-A {
        margin: 90px -20px 20px -20px;
        font-size: 28px;
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

    .text-title-B {
        margin: 20px -80px 0px -10px;

    }
}